<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GADD_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <GADD_Application.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="version" serializeAs="String">
        <value />
      </setting>
      <setting name="ram" serializeAs="String">
        <value>6156</value>
      </setting>
      <setting name="javargs" serializeAs="String">
        <value />
      </setting>
      <setting name="lic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="fav_men" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="mclocation" serializeAs="String">
        <value />
      </setting>
      <setting name="need_LAN_update" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="Arma3_Windowed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Arma3_Additional_Pram" serializeAs="String">
        <value />
      </setting>
      <setting name="Arma3_IntallLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="Arma3_Runtime" serializeAs="String">
        <value />
      </setting>
      <setting name="Arma3_SkipLogo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Arma3_NoBackground" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MCProfileInstalled" serializeAs="String">
        <value>False</value>
      </setting>
    </GADD_Application.Properties.Settings>
  </userSettings>
</configuration>